.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItem{
  padding: 10px;
}
.dialogsItem .dialog a{
  color: #fff;
}
.dialogsItem .active{
  color: rgb(40, 207, 157);
}
.dialog{

}
.messages{
  padding: 10px;
}
.messages .message{
  color: #fff;
}